{% extends "layout.html" %}
{% set active_page = "home" %}

{% block content %}
    <h1 style="display: inline">{{ data.title }}</h1>
    <p style="display: inline">
        <a class="edit" href="/edit/{{ data.id }}"><i class="bi bi-pencil"></i></a>
        <a class="edit" href="/delete/{{ data.id }}"><i class="bi bi-trash"></i></a>
    </p>
    <p>{{ data.username }} | {{ data.view_count }} Read | {{ data.date }}</p>
    <hr>
    <p>{{ data.text|safe }}</p>

    {% if comments is defined and comments|length > 0 %}
        <hr>
    {% endif %}

    {% for comment in comments %}
        <p>{{ comment.writer }}: {{ comment.comment }}</p>
    {% endfor %}

    <hr>

    <form method="post" class="form-group">
        {{ form.csrf_token }}
        {{ form.comment(class="form-control") }}
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
