{% extends "layout.html" %}
{% set active_page = "home" %}

{% block content %}
    <h1 style="display: inline">{{ data.title }}</h1>
    <p style="display: inline">
        <a class="edit" href="/edit/{{ data.id }}"><i class="bi bi-pencil"></i></a>
        <a class="edit" href="/delete/{{ data.id }}"><i class="bi bi-trash"></i></a>
    </p>
    <p>{{ data.username }} | {{ data.view_count }} Read | {{ data.date }}</p>
    <hr>
    <p>{{ data.text|safe }}</p>

    {% if comments is defined and comments|length > 0 %}
        <hr>
    {% endif %}

    {% for comment in comments %}
        <p>{{ comment.writer }}: {{ comment.comment }}</p>
    {% endfor %}

    <hr>

    <form method="post" action="/comment" class="container">
        <div class="form-group row">
            <textarea class="col-12 form-control" type="text" name="comment" placeholder="comment"></textarea>
            <button class="btn btn-primary btn-block" type="submit">Write</button>
        </div>
    </form>
{% endblock %}
