{% extends "layout.html" %}
{% set active_page = "home" %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Writer</th>
            <th scope="col">Date</th>
            <th scope="col">View</th>
        </tr>
        </thead>

        <tbody>
        {% for data in data_list %}
            <tr>
                <td>{{ data.id }}</td>
                <td><a href="/board/{{ data.id }}">{{ data.title }}</a></td>
                <td>{{ data.username }}</td>
                <td>{{ data.date }}</td>
                <td>{{ data.view_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="pagination">
        {% if curPage != 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('index', page = curPage - 1) }}">Previous</a>
            </li>
        {% endif %}
        {% for page in range(pages) %}
            <li class="page-item{% if page + 1 == curPage %} active{% endif %}">
                <a class="page-link" href="{{ url_for('index', page = page + 1) }}">{{ page + 1 }}</a>
            </li>
        {% endfor %}
        {% if curPage != pages %}
            <li class="page-item"><a class="page-link" href="{{ url_for('index', page = curPage + 1) }}">Next</a></li>
        {% endif %}

    </ul>
{% endblock %}
