{% extends "layout.html" %}
{% set active_page = "signin" %}

{% block content %}
    <form class="form-group form-signup" method="post">
        {{ form.csrf_token }}
        <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
        <label>{{ form.userid.label }}</label>
        {{ form.userid(class="form-control", placeholder="User ID") }}
        <label>{{ form.password.label }}</label>
        {{ form.password(class="form-control", placeholder="Password") }}

        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
    </form>
{% endblock %}
