{% extends "layout.html" %}
{% set active_page = "signup" %}

{% block content %}
    <form class="form-signup" action="/signuppost" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
        <input type="text" name="userid" class="form-control" placeholder="User ID" required="" autofocus="">
        <input type="password" name="password" class="form-control" placeholder="Password" required="">
        <input type="text" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        <input type="email" name="email" class="form-control" placeholder="Email address" autofocus="">

        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
    </form>
{% endblock %}
