<!DOCTYPE html>
<html lang="en">

<!--
  Copyright © 2022 WooJin Kong. All rights reserved.
 -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Board</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Board</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                {% if session['userid'] != "" %}
                    <li class="nav-item">
                        <a class="nav-link" href="/write">Write</a>
                    </li>
                {% endif %}

            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if session['userid'] == "" %}
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign up</a>
                    </li>
                {% elif session['userid'] != "" %}
                    <li class="nav-item">
                        <a class="nav-link" href="/signout">Sign out</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>

<div class="container">
    <form class="form-signup" action="/signuppost" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
        <input type="text" name="userid" class="form-control" placeholder="User ID" required="" autofocus="">
        <input type="password" name="password" class="form-control" placeholder="Password" required="">
        <input type="text" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        <input type="email" name="email" class="form-control" placeholder="Email address" autofocus="">

        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
    </form>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}
</body>
</html>
