{% extends "layout.html" %}
{% set active_page = "write" %}

{% block content %}
    <form method="post" action="/post">
        <div class="form-group row">
            {% if data is defined %}
                <input class="col-md-9 form-control" type="text" name="title" value="{{ data.title }}">
                <textarea class="col-12 form-control" type="text" name="text" rows="10">{{ data.text }}</textarea>
            {% else %}
                <input class="col-md-9 form-control" type="text" name="title" placeholder="Title">
                <textarea class="col-12 form-control" type="text" name="text" placeholder="Text" rows="10"></textarea>
            {% endif %}
            <button class="btn btn-primary btn-block" type="submit">Write</button>
        </div>
    </form>
{% endblock %}
