{% extends "layout.html" %}
{% set active_page = "write" %}

{% block head %}
    {{ super() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
{% endblock %}

{% block content %}
    <form class="form-group" method="post">
        {{ form.csrf_token }}
        {{ form.title(class="col-md-9 form-control") }}
        <hr>
        {{ form.text(id="editor", class="form-control") }}
        {{ form.submit(class="btn btn-primary") }}
    </form>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))

            .catch(error => {
                console.error(error);
            });
    </script>
{% endblock %}
